{
  "agent": {
    "logfile": "/opt/aws/amazon-cloudwatch-agent/logs/amazon-cloudwatch-agent.log",
    "metrics_collection_interval": 60,
    "run_as_user": "root"
  },
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {
            "file_path": "/home/kali/.zsh_history",
            "log_group_name": "localstack-log-group",
            "log_stream_name": "local-instance",
            "timestamp_format": "%Y-%m-%dT%H:%M:%S.%f"
          }
        ]
      }
    },
    "endpoint_override": "http://localhost:4566"
  }
}
