[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.31.0"
awscli-local = "==0.22.0"
terraform-local = "==0.20.0"
ansible-lint = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
bandit = "*"

[requires]
python_version = "3.11"