input {
  file {
     path => "{{ input_log_file }}"
  }
}

filter {
  dissect {
    mapping => {
      "message" => '%{client_ip} - - [%{timestamp}] "%{http.request.method} %{http.request.url} HTTP/%{http.flavor}" %{http.response.code} %{http.response.bytes} "%{http.referrer}" "%{http.user_agent.browser} (%{http.user_agent.os}) %{http.user_agent.platform} %{http.user_agent.details}"'
    }
  }
  date {
    match => [ "timestamp", "dd/MMM/yyyy:HH:mm:ss Z" ]
    target => "@timestamp"
  }
  mutate {
    remove_field => ["host", "@timestamp", "@version", "event", "message", "log"]
  }
}

output {
  file {
    path => "{{ output_log_file }}"
  }
}
